.chatroom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.join {
    background: #f7c52a;
    padding: 0.25rem 1rem;
    border-radius: 2px;
}

section { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
    font: 13px Helvetica, Arial; 
}

.test-form { 
    background: #000; 
    padding: 3px; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}

.test-form-input { 
    border: 0; 
    padding: 10px; 
    width: 90%; 
    margin-right: 0.5%; 
}

.test-form-button { 
    width: 9%; 
    background: rgb(130, 224, 255); 
    border: none; 
    padding: 10px; 
}

#messages { 
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
}

#messages li { 
    padding: 5px 10px; 
}

#messages li:nth-child(odd) { 
    background: #eee; 
}