h2 {
    text-align: center;
    color: $yellow;
    font-size: 2,5 rem;
    letter-spacing: 0.185rem;
    padding-top: 1.5rem;
    font-family: 'Alef', sans-serif;
}

#navbar{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: $dark-grey;
    font-family: 'Alef', sans-serif;
    letter-spacing: 0.185em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

#filter-icon{
    border: none;
    background: none;
    float: right;
}

.filter-header{
    position: absolute;
    width: 100%;
    height: 100%;
}