.sport-titles {
    color: $dark-grey;
    margin-top: 5px;
}

.sport-image-select {
    border: 3px solid blue;
    border-radius: 40px;
}

.star-ratings {
    margin-bottom: 1.5em;
}

.toggle-stars {
    visibility: hidden;
}

.align-stars {
    display: flex;
    justify-content: center;
}


.sport-selector {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 370px) {
    .sport-titles {
        font-size: 0.7em;
        margin-bottom: 5px;
    }
}