.dashboard-welcome {
    background-color: $dark-grey;
    width: 100%;
    text-align: center;
    color: white;
    padding: 1.5em;
    border-top: 2px solid $silver;
}

.dashboard-find-event-button {
    background-color: $sky-blue;
    border-radius: 24px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0px;
    color: white;
    text-decoration: none;
}

.dashboard-stars {
    margin-top: 0.5em;
}

#dashboard-player{
    padding-bottom: 0em;
    margin-bottom: 0em;
}

#dashboard-stars {
    padding-bottom: 0em;
    margin-bottom: 0em;
}

@media (min-width: 750px) {
    .desktop-card-container {
        width: 600px;
        margin: auto;
    }
    .white-background {
        background-color: white;
    }
    .desktop-card-container {
        padding: 0;
    }
}

@media (max-width: 370px) {
    .event-page-event-title {
       padding-bottom: 0em;
       margin-bottom: 0em;
       font-size: 1.3em;
    }
    .card-text {
        font-size: 0.9em;
    }
}

