textarea {
    margin-left: 10%;
    margin-right: 10%;
}

.add-fav-sports-button {
    background-color: $yellow;
    border-radius: 24px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0px;
    color: $dark-grey;
    box-shadow: 2px 5px 5px grey;
    margin-left: 12%;
    margin-bottom: 0.2em;
    margin-top: 2em;
}