.chatroom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
}

.join {
    background: #f7c52a;
    padding: 0.25rem 1rem;
    border-radius: 2px;
}

section { 
    margin: 0; 
    padding: 0;
    height: 400px;
}

.test-form {  
    width: 100%; 
    background-color: $silver;
    border-radius: 10px;
    margin-bottom: 0.5em;
}

#msg {
    border-bottom: none;
    text-align: left;
    color: black;
    margin-bottom: 5px;
    font-size: 1em;
}

#msg::placeholder {
    color: $dark-grey;
    text-align: left
}

.test-form-input { 
    border: 0; 
    padding: 10px; 
    width: 90%; 
    margin-right: 0.5%; 
}

.test-form-button { 
    width: 2.5em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $yellow; 
    border: none; 
    border-radius: 100%;
}

#messages { 
    list-style-type: none; 
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0; 
    height: 400px;
    background: #eee; 
    overflow: scroll;
    border-bottom: 20px solid $silver;
    border-radius:10px;
    border-bottom: none;
    overflow-y: scroll;
}

#messages li { 
    padding: 5px 10px; 
}


.user-chat-color {
    color: #FF4D76;
}

.other-chat-color {
    color: #00A8FF;
}

@media (min-width: 750px) {
    #messages{
        width: 30vw;
    }
}