.event-page-event-title {
    padding-bottom: 1em;
}

.event-page-sport-image {
    margin-left: 3.3em;
}

.bottom-border-color-volleyball {
    padding-bottom: 1em;
    border-bottom: 2px solid #E9B467;
}

.bottom-border-color-basketball {
    padding-bottom: 1em;
    border-bottom: 2px solid #FF5500;
}

.bottom-border-color-football {
    padding-bottom: 1em;
    border-bottom: 2px solid #2EBA3C;
}

.bottom-border-color-bouldering {
    padding-bottom: 1em;
    border-bottom: 2px solid #00AAFF;
}

.bottom-border-color-yoga {
    padding-bottom: 1em;
    border-bottom: 2px solid #00FFD5;
}

.bottom-border-color-pingpong {
    padding-bottom: 1em;
    border-bottom: 2px solid #6550FF;
}

.bottom-border-color-running {
    padding-bottom: 1em;
    border-bottom: 2px solid #C4C4C4;
}

.player-count-text {
    padding-top: 0.5em;
}

.teammate-icon {
    width: 2.2em;
    border-radius: 100%;
    margin: auto;
}

h6 {
    padding-top: 0.45em;
}

.teammate-icon-color-0 {
    background-color: #E9B467;
}

.teammate-icon-color-1 {
    background-color: #FF5500;
}

.teammate-icon-color-2 {
    background-color: #2EBA3C;
}

.teammate-icon-color-3 {
    background-color: #00AAFF;
}

.teammate-icon-color-4 {
    background-color: #00FFD5;
}

.teammate-icon-color-5 {
    background-color: #6550FF;
}

.teammate-icon-color-6 {
    background-color: #C4C4C4;
}

.teammate-icon-color-7 {
    background-color: #E9B467;
}

.teammate-icon-color-8 {
    background-color: #FF5500;
}

.teammate-icon-color-9 {
    background-color: #2EBA3C;
}

.teammate-icon-color-10 {
    background-color: #00AAFF;
}

.teammate-icon-color-11 {
    background-color: #00FFD5;
}

.teammate-icon-color-12 {
    background-color: #6550FF;
}

.teammate-icon-color-13 {
    background-color: #C4C4C4;
}

.teammate-icon-color-14 {
    background-color: #E9B467;
}

.teammate-icon-color-15 {
    background-color: #FF5500;
}

.teammate-icon-color-16 {
    background-color: #2EBA3C;
}

.teammate-icon-color-17 {
    background-color: #00AAFF;
}

.teammate-icon-color-18 {
    background-color: #00FFD5;
}

.teammate-icon-color-19 {
    background-color: #6550FF;
}

.teammate-icon-color-20 {
    background-color: #C4C4C4;
}

.below-player-border {
    border-bottom: 2px solid #6550FF;
    padding-bottom: 1em;
}

.player-skill-text {
    padding-top: 0.5em;
    margin-bottom: 0;
}

.accordion-button::after {
    margin: auto;
}

.accordion-button:focus {
    box-shadow: none;
    border: none;
    background-color: transparent;
}

.accordion-button {
    border: none;
}

.accordion-collapse {
    border: none;
}

.leave-event-button {
    border: none;
    background: transparent;
    color: red;
    font-size: 1.3em;
    margin-left: 25%;
}

.join-event-button {
    border: none;
    background: transparent;
    color: #00FFD5;
    font-size: 1.3em;
    margin-left: 28%;
}

.delete-event-button {
    border: none;
    background: transparent;
    color: red;
    font-size: 1.3em;
    margin-left: 25%;
}

.edit-event-button {
    border: none;
    background: transparent;
    color: #00FFD5;
    font-size: 1.3em;
    margin-left: 30%;
    margin-bottom: 1.5em;
}

.edit-event-link {
    text-decoration: none;
    color: #00FFD5;
}

.are-you-sure-button {
    border: none;
    background: transparent;
    color: red;
    font-size: 1.3em;
}

.are-you-not-sure-button {
    border: none;
    background: transparent;
    color: #00FFD5;
    font-size: 1.3em;
    margin-left: 50%;
}

.thick-bottom-border {
    border-bottom: 15px solid $silver;
}