.filter-information {
    padding-top: 1em;
    background-color: white;
    padding-bottom: 1em;
    overflow-x: scroll;
    height: 3em;
    white-space: nowrap;
}

.no-filters {
    color: $sky-blue;
}

#dashboard-background {
    padding-top: 1em;
}

@media (min-width: 750px) {
    .filter-information {
        display: none;
    }
}