.forgot-password-header {
    padding-top: 80px;
    padding-bottom: 2.5rem;
    border-bottom: solid #FBEF4E;
}

.forgot-password-instructions {
    color: $silver;
    text-align: center;
    padding-top: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.send-email-button {
    background-color: $yellow;
    border-radius: 24px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0px;
    color: $dark-grey;
    box-shadow: 2px 5px 5px grey;
    margin-left: 23%;
    margin-bottom: 1em;
}

.back-to-login-button {
    margin-top: 3em;
    margin-bottom: 3em;
    border-radius: 24px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    border: solid white;
    border-width: 2px;
    appearance: button;
    color: white;
}

.form-box .email {
    margin-left: 1rem;
}

.forgot-password-error {
    padding-top: 0.5em;
}

.forgot-password-success {
    padding-top: 0.5em;
    margin-left: 45%;
}

.forgot-password-error-message {
    color: $silver;
    text-align: center;
    padding-top: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 6em;
}

.forgot-password-success-message {
    color: $silver;
    text-align: center;
    padding-top: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 6em;
}