.forgot-password-header {
    padding-top: 80px;
    padding-bottom: 2.5rem;
    border-bottom: solid #FBEF4E;
}

.forgot-password-instructions {
    color: $silver;
    text-align: center;
    padding-top: 1.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.forgot-password-email-div {
    border-bottom: solid #FBEF4E;
    width: 85%;
}

.send-email-button {
    background-color: $yellow;
    border-radius: 24px;
    padding: 12px 70px;
    border: 0px;
    color: $dark-grey;
    box-shadow: 2px 5px 5px grey;
    margin: 3em auto;
    width: 40%;
}

.back-to-login-button {
    margin-top: 3em;
    margin-bottom: 3em;
    border-radius: 24px;
    padding: 12px 60px;
    text-decoration: none;
    border: 2px solid white;
    appearance: button;
    color: white;
    width: 60%;
    text-align: center;
}

.forgot-password-error {
    padding-top: 0.5em;
}

.forgot-password-success {
    padding-top: 0.5em;
}

.forgot-password-error-message {
    color: $silver;
    text-align: center;
    padding: 5em 1em 6em;
}

.forgot-password-success-message {
    color: $silver;
    text-align: center;
    padding: 5em 1em 6em;
}

#reset-pass-tip {
    width: 60%;
    text-align: center;
}

@media (max-width: 400px){
    .back-to-login-button {
        padding: 12px 40px;
    }
}

@media (max-width: 370px) {
    .send-email-button {
       padding-left: 3.5em;
    }
}

@media (min-width: 750px) {
    .forgot-password-error-message {
        padding: 9em 1em 10em;
    }
    .forgot-password-success-message {
        padding: 9em 1em 10em;
    }
    .forgot-password-input {
        padding-left: 4rem;
    }
    .back-to-login-button {
        width: 40%;
    }
    .send-email-button {
        width: 30%;
    }
}