.header-with-login-visible {
    padding-bottom: 3rem;
    border-bottom: solid #FBEF4E;
    margin-top: 4vh;
}

.header-with-login-not-visible {
    padding-top: 1.5rem;
    border-top: solid #FBEF4E;
    margin-top: 26vh;
}

.login-button {
    margin: 22vh 50% 5vh;
    background-color: $yellow;
    border-radius: 55px;
    padding: 35px 30px;
    border: 0px;
    color: $dark-grey;
    box-shadow: 2px 5px 5px grey;
}

p.col {
    text-align: center;
    margin-bottom: 2rem;
}

.signup-button {
    border-radius: 24px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-decoration: none;
    border: solid white;
    border-width: 2px;
    appearance: button;
    color: white;
    margin-bottom: 30%;
}

.signup-button:hover {
    color: white;
}

.white-font {
    color: white;
}

.back-arrow {
    margin-top: 1rem;
}

.login-form {
    background-color: rgba(92, 92, 92, 0.9);
    margin-top: 4rem;
}

.login-form input {
    background: transparent;
    border: none;
    color: $yellow;
    font-size: 1.2em;
    width: 83%;
    text-align: center;
}

.login-form label {
    padding-bottom: 0.1rem;
    border-bottom: solid #FBEF4E;
} //maybe delete

.login-form .username {
    padding-top: 3.5rem;
    border-bottom: solid #FBEF4E;
    width: 85%;
}

.login-form .password {
    padding-top: 4rem;
    margin-bottom: 4rem;
    width: 85%;
    border-bottom: solid #FBEF4E;
}

#login-button {
    margin: 4.9rem auto;
    width: 12rem;
    background-color: $yellow;
    border-radius: 24px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0px;
    color: $dark-grey;
    box-shadow: 2px 5px 5px grey;
}

.error-box {
    padding-top: 2rem;
    margin-bottom: -3rem;
}

.forgot-password-button {
    color: #81D5FF;
    border-radius: 24px;
    padding: 10px 30px;
    appearance: button;
    border: 2px solid #81D5FF;
}

#signup-button {
    margin-bottom: 0;
}

@media (min-width: 750px) {
    .desktop-container {
        width: 750px;
        margin: auto;
    }
    .desktop-small-container {
        width: 550px;
        margin: auto;
    }
    .login-button {
        border-radius: 70px;
        padding: 55px 50px;
    }
    .header-with-login-not-visible {
        padding-top: 4rem;
        margin-top: 5vh;
        padding-bottom: 5rem;
        border-width: 5px;
    }
    .header-with-login-visible {
        margin-top: 1vh;
        padding-top: 0;
        padding-bottom: 3rem;
        border-width: 5px;
    }
    .login-form {
        width: 65%;
        margin: 4rem auto;
    }
    #login-button {
        margin: 3rem auto;
        width: 12rem;
    }
    .login-form input {
        width: 88%;
    }
}

@media (max-width: 370px) {
    .login-form input {
        width: 80%;
    }
}