.initial-identifier-profile {
    text-align: center;
    border: 1px solid $yellow;
    border-radius: 100%;
    background-color: $yellow;
    color: $dark-grey;
    width: 1.8em;
    height: 1.8em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-box-top-space {
    height: 0.5em;
}

.username-profile {
    text-align: center;
    color: $dark-grey;
}

.profile-query {
    color: $silver;
    margin-bottom: 0em;
}

.stars {
    text-align: right;
}

.favsport {
    height: 5em;
    width: 6.5em;
}

.profile-favsports-title {
    text-align: right;
    color: $silver;
}

.user-info-section {
    border-top: 1px solid $silver;
}

.star-ratings {
    text-align: right;
}

.profile-edit-button {
    text-align: center;
    text-decoration: none;
    color: $yellow;
    background-color: $dark-grey;
}

.profile-box-bottom-space {
    height: 2em;
}