.registration-top-space {
    height: 1em;
} //maybe delete

.registration-message {
    color: $dark-grey;
    text-align: center;
    padding: 1.5rem 2rem;
}

.registration-inputs {
    width: 83%;
    border-bottom: solid #5C5C5C;
    height: 2rem;
    margin-bottom: 1rem;
    padding: 0;
}

.reg-select {
    width: 88%;
    margin-top: 2rem;
    height: 2rem;
}

.send-registration-button {
    background-color: $yellow;
    border-radius: 24px;
    padding: 12px 70px;
    margin-top: 1.5rem;
    width: 60%;
    border: 0px;
    color: $dark-grey;
    box-shadow: 2px 5px 5px grey;
}

#dob {
    width: 102%;
}

#reg-user-tip {
    width: 40%;
    text-align: center;
}

#reg-pass-tip {
    width: 60%;
    text-align: center;
}

@media (min-width: 750px) {
    .registration-username {
        padding-left: 4rem;
    }
    .send-registration-button {
        width: 30%;
    }
    .registration-inputs {
        margin-bottom: 3rem;
    }
}

@media (max-width: 400px){
    .send-registration-button {
        border-radius: 24px;
        padding: 12px 60px;
    }
}