body {
    font-family: 'Alef', sans-serif;
}

.pointer {
    cursor: pointer;
}

i {
    color: $yellow;
}

.md-18 {
    font-size: 18px !important;
    height: 18px !important;
    width: 18px !important;
}
.md-24 {
    font-size: 24px !important;
    height: 24px !important;
    width: 24px !important;
}
.md-36 {
    font-size: 36px !important;
    height: 36px !important;
    width: 36px !important;
}
.md-48 {
    font-size: 48px !important;
    height: 48px !important;
    width: 48px !important;
}

.basketball-rim-background {
    background: url('../../images/background.jpg') center center ;
    background-repeat: no-repeat;
    background-size:cover;
}

.basketball-rim-background-blurred {
    background: url('../../images/basketball_background_blur.jpg') center center ;
    background-repeat: no-repeat;
    background-size: cover;
}

.silver-background {
    background-color: $silver;
    height: 100%;
    background-size: cover;
}

h1 {
    text-align: center;
    color: $yellow;
    font-size: 3.2rem;
    letter-spacing: 0.185em;
}

h2 {
    color: $yellow;
}

.form-box {
    background-color: rgba(92, 92, 92, 0.9);
    margin-top: 4rem;
}

.form-box-white {
    background-color: white;
}

.form-box input:focus {
    outline: none;
}

.form-box-white input:focus {
    outline: none;
}

.form-box input {
    background: transparent;
    border: none;
    border-bottom: solid #FBEF4E;
    color: $yellow;
    font-size: 1.2em;
    padding-left:1em;
    width: 80%;
    text-align: center;
}

.form-box-white input {
    background: transparent;
    border: none;
    border-bottom: solid #5C5C5C;
    color: $dark-grey;
    font-size: 1.2em;
    padding-left:1em;
    width: 80%;
    margin-bottom: 1em;
    text-align: center;
}

input::placeholder {
    text-align: center;
    color: $silver;
}

.form-box label {
    padding-bottom: 0.1rem;
    border-bottom: solid #FBEF4E;
}

.form-box-white label {
    padding-bottom: 0.13rem;
    border-bottom: solid #5C5C5C;
}

.success-symbol {
    color: #00FFD5;
}

.error-symbol {
    color: red;
}

.grey-icon {
    color: $dark-grey;
}

.error-text {
    margin-top: 0%;
    padding-top: 0%;
    color: #FF6E33;
    text-align: center;
}

.error-border {
    border: 2px solid red !important;
}