// Primary Colors
$yellow: #FBEF4E;
$dark-grey: #5C5C5C; 

//Main Colors
$sky-blue: #00AAFF;
$orange: #FF5500;
$tourquoise: #00FFD5;
$neon-blue: #6550FF;
$cornflower-blue: #6F9CE4;
$harvest-gold: #E9B467;
$silver: #C4C4C4;
